.shape-i {
    background-color: yellow;
}

.shape-j {
    background-color: greenyellow;
}

.shape-l {
    background-color: red;
}

.shape-o {
    background-color: blue;
}

.shape-s {
    background-color: gray;
}

.shape-t {
    background-color: cadetblue;
}

.shape-z {
    background-color: purple;
}